/*--------------------------------------------------------------
# contacto Section
--------------------------------------------------------------*/

.contacto {
    padding: 60px 0;




    .form {

        input,
        textarea {
            padding: 10px 14px;
            border-radius: 0;
            box-shadow: none;
            font-size: 15px;
        }

        button {
            
            background: $primary;
            border: 0;
            padding: 10px 40px;
            color: $white;
            transition: 0.4s;
            border-radius: 50px;
            cursor: pointer;

            &:hover {
                background: $dark-blue;
            }
        }
    }
    //arreglar centrar card en movil
    .info{
        width: 18rem !important;
        
    }
    ul {
        li {
    
          a {
            color: $black;
    
            &:hover {
              color: $primary;
              transition: 0.5s;
            }
          }
        }
      }
      

}