/*--------------------------------------------------------------
# Estilos para el footer
--------------------------------------------------------------*/

.footer {
    .logo {
        max-height: 40px;
    }

    .footer-links {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
    button {
            
        background: $primary;
        border: 0;
        padding: 10px 40px;
        color: $white;
        transition: 0.4s;
        border-radius: 50px;
        cursor: pointer;

        &:hover {
            background: $dark-blue;
        }
    }
}

.credits {
    background-color: $dark;
}
