/*--------------------------------------------------------------
# Seccion Sobre nosotros
--------------------------------------------------------------*/

.nosotros {
  padding: 60px 0 30px 0;

  .personal {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    .detalles {
      background: rgba(6, 12, 34, 0.76);
      position: absolute;
      left: 0;
      bottom: -30px;
      right: 0;
      text-align: center;
      padding-top: 10px;
      transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);

      h3 {
        color: $white;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5px;
      }

      p {
        color: $white;
        font-size: 15px;
        margin-bottom: 10px;
        font-style: italic;
      }

      .social {
        height: 30px;
      }

      a {
        color: $white;

        &:hover {
          color: $primary;
        }
      }
    }

    &:hover .detalles {
      bottom: 0;
    }
  }

  ul {
    li {

      a {
        color: $black;

        &:hover {
          color: $primary;
          transition: 0.5s;
        }
      }
    }
  }


}