@charset "UTF-8";
/*--------------------------------------------------------------
# Estilos generales
--------------------------------------------------------------*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #2f3138;
}

a {
  color: #101522;
  transition: 0.5s;
}
a:hover, a:focus, a:active {
  color: #2ab09c;
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  color: #0d1223;
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2f3138;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.social-links a:hover {
  background: #4ABD9C;
  color: #fff;
}

/* Sections Header Generales
--------------------------------*/
.section-header {
  margin-bottom: 35px;
  position: relative;
  padding-bottom: 20px;
}
.section-header :before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #4ABD9C;
  bottom: 0;
  left: calc(50% - 25px);
}
.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}
.section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}

.section-with-bg {
  background-color: #f6f7fd;
}

.bg-primary {
  background-color: #2ab09c !important;
}

.bg-secondary {
  background-color: #0d1223 !important;
}

.text-primary {
  color: #2ab09c !important;
}

.text-secondary {
  color: #0d1223 !important;
}

.border-primary {
  border-color: #2ab09c !important;
}

a {
  color: #fff;
}
a:hover, a:focus, a:active {
  color: #2ab09c;
}

.btn-success {
  background-color: #2ab09c;
}
.btn-success:hover {
  background-color: #101522;
  border-color: #2ab09c;
  color: #2ab09c;
}

.figure {
  padding: 0;
}
.figure .figure-content-img {
  overflow: hidden;
}
.figure img {
  margin: 0;
  transition: 0.3s ease-in-out;
}
.figure img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.figure .figure-caption {
  background-color: #0d1223 !important;
}
.figure .figure-caption h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: "Raleway", sans-serif;
}
.figure .figure-caption p {
  margin: 0;
}

/*--------------------------------------------------------------
# Estilos para barra de navegación
--------------------------------------------------------------*/
.navbar-brand img {
  max-height: 40px;
}

.active {
  border-bottom: 2px solid #2ab09c;
}

.dropdown-item {
  color: #fff;
}
.dropdown-item:hover {
  color: #2ab09c;
}

.nav-item {
  font-weight: 600;
}

/*--------------------------------------------------------------
# Estilos para la sección Juegos
--------------------------------------------------------------*/
.section-games .row {
  margin-top: 100px;
}

.decorator-section {
  height: 400px;
  background-color: #2ab09c !important;
  position: absolute;
  left: 0;
  right: 0;
  top: -6vw;
  transform: skewY(-5deg);
}

/*--------------------------------------------------------------
# Estilos para la sección de información de juego
--------------------------------------------------------------*/
.carousel-inner {
  height: 460px;
}
.carousel-inner img {
  width: 100%;
  max-height: 460px;
}

/*--------------------------------------------------------------
# Estilos para el footer
--------------------------------------------------------------*/
.footer .logo {
  max-height: 40px;
}
.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.credits {
  background-color: #101522;
}

/*--------------------------------------------------------------
# Seccion Recomendaciones Juegos y Series
--------------------------------------------------------------*/
.mainpadding {
  padding-top: 70px;
}

.recomendaciones .recomendaciones-list {
  padding: 0;
  list-style: none;
}

.recomendaciones .recomendaciones-list li {
  border-bottom: 1px solid #ddd;
  padding-left: 25px;
}

.recomendaciones .recomendaciones-list a {
  margin: 18px 0;
  display: block;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding-right: 20px;
  color: #101522;
}
.recomendaciones .recomendaciones-list a:hover {
  color: #2ab09c;
}

.recomendaciones .recomendaciones-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  padding-right: 20px;
}

.recomendaciones .recomendaciones-list p {
  margin-bottom: 20px;
}

.recomendaciones .recomendaciones-list a.collapse {
  color: #4ABD9C;
}

.recomendaciones .recomendaciones-list a.collapsed {
  color: #000;
}

.recomendaciones .recomendaciones-list a.collapsed i::before {
  content: "" !important;
}

.storesbotones img {
  width: 200px;
  margin-top: -30px !important;
  margin-bottom: -20px;
}

.cartelrecos {
  width: 240px;
  max-height: 290px;
  border: 3px solid #2AB09C !important;
}

/*# sourceMappingURL=resume.css.map */
