@charset "UTF-8";
/*--------------------------------------------------------------
# Estilos generales
--------------------------------------------------------------*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #2f3138;
}

a {
  color: #2ab09c;
  transition: 0.5s;
}
a:hover, a:focus, a:active {
  color: #fff;
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  color: #0d1223;
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2f3138;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.social-links a:hover {
  background: #4ABD9C;
  color: #fff;
}

.bg-primary {
  background-color: #2ab09c !important;
}

.bg-secondary {
  background-color: #0d1223 !important;
}

.text-primary {
  color: #2ab09c !important;
}

.text-secondary {
  color: #0d1223 !important;
}

.border-primary {
  border-color: #2ab09c !important;
}

a {
  color: #fff;
}
a:hover, a:focus, a:active {
  color: #2ab09c;
}

.btn-success {
  background-color: #2ab09c;
}
.btn-success:hover {
  background-color: #101522;
  border-color: #2ab09c;
  color: #2ab09c;
}

/*--------------------------------------------------------------
# Estilos para barra de navegación
--------------------------------------------------------------*/
.navbar-brand img {
  max-height: 40px;
}

.active {
  border-bottom: 2px solid #2ab09c;
}

.dropdown-item {
  color: #fff;
}
.dropdown-item:hover {
  color: #2ab09c;
}

.nav-item {
  font-weight: 600;
}

/*--------------------------------------------------------------
# Estilos para el footer
--------------------------------------------------------------*/
.footer .logo {
  max-height: 40px;
}
.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.credits {
  background-color: #101522;
}

/*--------------------------------------------------------------
# Seccion Sobre nosotros
--------------------------------------------------------------*/
.nosotros {
  padding: 60px 0 30px 0;
}
.nosotros .personal {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.nosotros .personal .detalles {
  background: rgba(6, 12, 34, 0.76);
  position: absolute;
  left: 0;
  bottom: -30px;
  right: 0;
  text-align: center;
  padding-top: 10px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.nosotros .personal .detalles h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}
.nosotros .personal .detalles p {
  color: #fff;
  font-size: 15px;
  margin-bottom: 10px;
  font-style: italic;
}
.nosotros .personal .detalles .social {
  height: 30px;
}
.nosotros .personal .detalles a {
  color: #fff;
}
.nosotros .personal .detalles a:hover {
  color: #2ab09c;
}
.nosotros .personal:hover .detalles {
  bottom: 0;
}
.nosotros ul li a {
  color: #000;
}
.nosotros ul li a:hover {
  color: #2ab09c;
  transition: 0.5s;
}

/*--------------------------------------------------------------
# contacto Section
--------------------------------------------------------------*/
.contacto {
  padding: 60px 0;
}
.contacto .form input,
.contacto .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}
.contacto .form button {
  background: #2ab09c;
  border: 0;
  padding: 10px 40px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
}
.contacto .form button:hover {
  background: #0d1223;
}
.contacto .info {
  width: 18rem !important;
}
.contacto ul li a {
  color: #000;
}
.contacto ul li a:hover {
  color: #2ab09c;
  transition: 0.5s;
}

/*--------------------------------------------------------------
# Seccion de registro
--------------------------------------------------------------*/
.registro {
  padding: 60px 0;
}
.registro .form input,
.registro .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}
.registro .form button {
  background: #2ab09c;
  border: 0;
  padding: 10px 40px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
}
.registro .form button:hover {
  background: #0d1223;
}
.registro ul li a {
  color: #000;
}
.registro ul li a:hover {
  color: #2ab09c;
  transition: 0.5s;
}

/*# sourceMappingURL=resume.css.map */
