/*--------------------------------------------------------------
# Estilos generales
--------------------------------------------------------------*/

body {
    @include body-font;
    background-color: $white;
    color: $gray-850;
}

a {
    color: $darken;
    transition: 0.5s;
    &:hover,
    &:focus,
    &:active {
        color: $primary;
        outline: none;
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
    color: $secondary;
}

.social-links {
    a {
        font-size: 18px;
        display: inline-block;
        background: $gray-850;
        color: $white;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;
        &:hover {
            background: #4ABD9C;
            color: #fff;
        }
    }
}