/*--------------------------------------------------------------
# Estilos para la sección Juegos
--------------------------------------------------------------*/

.section-games {
    .row {
        margin-top: 100px;
    }
}

.decorator-section {
    height: 400px;
    background-color: $primary !important;
    position: absolute;
    left: 0;
    right: 0;
    top: -6vw;
    transform: skewY(-5deg);
}